<h1>EAT THE FOOD!</h1>

<h2>Devour this deliciousness!</h2>

<ul>
  {{#each foods}}
    {{#unless devoured}}
      {{> foods/Food-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Deliciousness has been devoured!</h2>

<ul>
  {{#each foods}}
    {{#if devoured}}
      {{> foods/Food-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Dish</h2>
<form class="create-form">

  <div class="form-group">
    <label for="Fa">Food Name:</label>
    <input type="text" id="Fa" name="name">
  </div>

  <button type="submit">Add food</button>
</form>


